/* 
    BUilding template desin using margin, padding, float
*/
:root {
    --prim: #005a9c;
    --sec: darkgoldenrod;
    --tert: #eaeae3;
    --font1: "New Amsterdam";
    --font2: "Montserrat";
}

* {box-sizing: border-box}

body { 
margin: 0;
padding: 0;
background-color: var(--tert)
}

.bold {
    font-weight: 700;
}

.colophon {
    font-family: var(--font1)
}


.container {
    margin: 0 auto;
    width: 94%;
    /* border: 1px solid green} */
}

.figcaption {
    color: var(--sec);
    font-family: var(--font1);
    font-style: italic;
}

    .form {
        margin-top: 10px;
        width: 30%;
        float: left;
        text-align: right;
        /* border: 1px solid red; */
    }


.heading { 
    margin: 0;
    color: (var--sec);
    font-family: var(--font2);
    text-shadow: 2px 2p 2px #333;
}


/* 
build a nav bar 

ul {
padding-left; 0;
padding list-style-type: none;
}

li {
    display:inline;
}
*/


.nav {
    margin: 10px;
    padding-left: 0;
    text-align: center;
    list-style-type: none;
}

.nav-item {
    display: inline;
    padding: 0 15pk;
    font-family:var(--font1)
}

.nav-link {
    color: var(--prim);
    text-decoration: none;
    text-transform: lowercase;
}

.nav-link:hover {
color: var(--sec);
}

.search-label {
    display:none;
}

.text {
    font-family: var()
}

#block1, #block2 {
    width: 50%;
    padding: 10x;
    float: right;
}

#block4.text {
    padding: 0 15px;
}

#block5, #block6, #block7 {
    padding: 10px 15px;
    width: calc(100%/ 3);
        float: left;
        /* border: 1px solid powderblue; */
}


#blockText1, #blockText2 {
    font-size: 24px;
}

#blockText2, #figure1 {
    width: 50%;
    float: left;
    /* border: 1px solid orange; */
}

#blockText3, #figure1{
    padding: 10px  15px;
    width: 50%;
    float: left;
}


#figure1 {
    margin: 0;
    padding-left: 20px;
}

#figure2 {
    text-align: center;
    /* border 1px solid purple; */
}

#figure2 img{
    border-radius: 10px;
}

#header {
    padding:15px 0;
}

#myName {
    margin: 0;
    width: 40%;
    color: var(--prim);
    font-family: var(--font1);
    font-size: 42px;
    float: left;
    /* border: 1px solid rebeccapurple; */
}

#section1 {
    padding: 40px 0;
}

#topNav {
    width: 30%;
    /* border: 1px solid red; */
    float: left;
}

.clear {
    clear: both;
}